
.priceCard{
    top: 103px;
    font-size: 25px;
    font-weight: bold;
    width: 20%;
    left: 0px;
    color: #ffffff;
    background-color: #e09737ea;
    text-align: center;
}
.titleCard{
    top: 150px; 
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    color: #ffffff;
    background-color: #007977f3;
    text-align: center;
}